# Supabase Configuration
VITE_SUPABASE_URL=https://dcamnifuwopamavlxwhh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjYW1uaWZ1d29wYW1hdmx4d2hoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg0MzI4NTksImV4cCI6MjA4NDAwODg1OX0.GA99Am_vJr5kbn64ZIyq4XpG7CFZ_Oe-pJY_LFMaizU
